replicaCount: 3
image:
  repository: harrycorp/forex-pricing
  tag: v1.0.0  # Modify with the actual Docker image tag
resources:
  limits:
    memory: "256Mi"
    cpu: "500m"
  requests:
    memory: "128Mi"
    cpu: "250m"

service:
  port: 80

env:
  CURRENCY_BEACON_API_KEY: "6EBZVxZiSMGSqFuvM0PdFvxJpkSQ50MF"
